body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: #3498db;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

.login-card {
    border: 1px solid #ccc;
    padding: 30px;
    width: 300px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #aaa;
    background-color: #f9f9f9;
    /*transition: transform .2s;*/
}
/*.login-card:hover {
    transform: scale(1.2);
    background-color: greenyellow

}
*/
.input-field {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #2980b9;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

