{% extends "base.html" %}

{% block content %}
<div class="login-card">
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required class="input-field"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required class="input-field"><br>

        <button type="submit" class="login-btn">Login</button>
    </form>
    <p class="register-link">Don't have an account? <a href="/register">Register</a></p>
</div>
{% endblock %}
