{% extends "base.html" %}
{% block content %}
<div class="login-wrapper">
  <div class="login-card">
    <h2>Login</h2>

    <form method="POST" action="/login">
      <label>Email</label>
      <input type="email" name="email" class="input-field" required>

      <label>Password</label>
      <input type="password" name="password" class="input-field" required>

      <button class="login-btn">Login</button>

      <p class="register-link">
        Don’t have an account? <a href="/register">Register</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}