{% extends "base.html" %}
{% block content %}
<div class="page-wrapper">
    <div class="login-card">
        <div class="mb-3 text-center">
            {% if login_error or duplicate_reg or admin_error %}
                <div class="display-4">⚠️</div>
            {% else %}
                <div class="display-4">✅</div>
            {% endif %}
        </div>
        <!-- Gradient heading like Login/Register -->
        <h2>{{ title }}</h2>

        <p class="message-text">
            {{ message }}
        </p>
        {% if admin_error %}
            <a href="/admin_login" class="login-btn link-btn">
            Go to Login
            </a>
        {% else %}
        
            <a href="/login" class="login-btn link-btn">
                Go to Login
            </a>
        {% endif %}
        
    </div>
</div>
{% endblock %}